* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.login-page {
    font-family: 'Oswald', sans-serif;
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

.login-page .form-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 55vw;
    height: 60vh;
    box-shadow: 5px 5px 5px black;
}

.login-page .form-container .login-form,
.login-page .form-container .signup-form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 50%;
    overflow-y: auto;
}

.login-page .form-container #login-form {
    opacity: 0;
    transition: 1.5s;
}

.login-page .form-container #login-form.show {
    opacity: 1;
}

.login-page .form-container #signup-form {
    left: 50%;
    opacity: 1;
    transition: 1.5s;
}

.login-page .form-container #signup-form.show {
    opacity: 0;
}

.login-page .form-container .login-form .login-title,
.login-page .form-container .signup-form .signup-title {
    font-size: 60px;
    position: absolute;
    display: flex;
    top: 0;
    height: 20%;
    justify-content: center;
    align-items: center;
    color: orange;
}

.login-page .form-container .login-form .login-fillout,
.login-page .form-container .signup-form .signup-fillout {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60%;
    max-height: 60%;
    justify-content: space-evenly;
    align-items: center;
    top: 20%;
}

.login-page .form-container .login-form .buttonContainer,
.login-page .form-container .signup-form .buttonContainer {
    position: absolute;
    display: flex;
    top: 85%;
    height: 10%;
    width: 40%;
}

.login-page .form-container .login-form #loginBtn,
.login-page .form-container .signup-form #signUpBtn {
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    transition: 500ms;
    background-color: orange;
    cursor: pointer;
    color: white;
    border-radius: 20px;
}

.login-page .form-container .login-form #loginBtn:hover,
.login-page .form-container .signup-form #signUpBtn:hover {
    background-color: red;
}


.login-page .form-container .login-form .login-fillout input[type=text],
.login-page .form-container .login-form .login-fillout input[type=password],
.login-page .form-container .signup-form .signup-fillout input[type=text],
.login-page .form-container .signup-form .signup-fillout input[type=password] {
    font-size: 25px;
    padding: 3%;
    width: 90%;
    border-radius: 20px;
}

.login-page .form-container .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    width: 50%;
    height: 100%;
    background-color: red;
    left: 0%;
    align-items: center;
    overflow-y: auto;
    transition: 500ms;
}

.login-page .form-container .overlay.show {
    transform: translateX(100%);
}

.login-page .form-container .overlay #overlayMsg {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 25%;
    width: 85%;
    margin-bottom: 5%;
    color: white;
}

.login-page .form-container .overlay #overlayMsg h1 {
    font-size: 60px;
}

.login-page .form-container .overlay #overlayMsg h3 {
    font-size: 25px;
    font-weight: 300;
}

.hidden {
    display: none;
}

.login-page .form-container .overlay .overlayBtnContainer {
    display: flex;
    position: absolute;
    top: 60%;
    width: 40%;
    height: 10%;
}

.login-page .form-container .overlay #switchBtn {
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    transition: 500ms;
}

.login-page .form-container .overlay #switchBtn:hover {
    background-color: orange;
}

.main-page {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Nunito Sans', sans-serif;
}

.main-page .main-container {
    position: relative;
    width: 100vw;
    height: 80vh;
    top: 7.5vh;
}

.main-page .main-container .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-page .main-container .image-container img {
    width: 100%;
    height: auto; /* Maintain the aspect ratio of the image */
}

#weightBg {
    display: none;
}

#cardioBg {
    display: block;
}

.main-page .main-container .bio {
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    color: white;
    z-index: 1;
}   

.main-page .main-container .bio .intro h1{
    font-style: italic;
    font-size: 120px;
    font-weight: 700;
    color: white;
    margin-bottom: 5%;
}

.main-page .main-container .bio .buttons {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10%;
}

.main-page .main-container .bio .buttons button {
    position: relative;
    cursor: pointer;
    font-size: 1.25vw;
    font-weight: bold;
    padding: 7.5px;
    width: 12.5vw;
    border-radius: 20px;
    border: 1px solid white;
    transition: 500ms;
}

.main-page .main-container .bio .buttons button:hover {
    transform: scale(1.2);
}

.main-page .inspire-container {
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    display: flex;
    border: 1px solid black;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100vw;
    max-width: 100%;
    height: 12.5vh;
    justify-content: center;
    align-items: center;
}

.cardio-page { 
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.cardio-page .taskbar {
    position: relative;
    display: flex;
    width: 100vw;
    height: 7.5vh;
    background-color: lightcyan;
}

.cardio-page .taskbar #fit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
}

.cardio-page .taskbar #links {
    font-size: 25px;
    display: flex;
    position: absolute;
    align-self: center;
    list-style-type: none;
    width: 25%;
    justify-content: space-evenly;
}

.cardio-page .header {
    position: relative;
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    background-color: lightcyan;
}

.cardio-page .header img {
    position: absolute;
    width: 100%;
    bottom: 50%;
    transform: translateY(31%);
    height: auto;
}

.cardio-page .main-container {
    position: absolute;
    display: flex;
    height: 65vh;
    width: 100%;
    bottom: 0;
}

.cardio-page .title {
    height: 7.5vh;
    display: flex;
    align-items: center;
    padding-left: 5vw;
}

.cardio-page .main-container .content-container {
    position: relative;
    display: flex;
    background-color: white;
    width: 80%;
}

.cardio-page .main-container .content-container #table-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.cardio-page .main-container .content-container hr {
    position: absolute;
    top: 6%;
    border: 1px solid lightgray;
    width: 96%;
    height: 1px;
}

.cardio-page .main-container .content-container .table-container {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 70%;
    overflow: auto;
    border: 1px solid lightgray;
}

.cardio-page .main-container .content-container .table-container table {
    width: 100%;
    border-collapse: collapse;
}

.cardio-page .main-container .content-container .table-container table th{
    width: 20%;
    font-size: 18px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px;
}

::placeholder {
    color: lightgray;
}

.cardio-page .main-container .content-container .buttons {
    position: absolute;
    display: flex;
    top: 85%;
    left: 10%;
    width: 30%;
    justify-content: space-between;
}

.cardio-page .main-container .content-container .buttons button {
    cursor: pointer;
    border-radius: 20px;
    width: 30%;
    padding: 2%;
    background-color: transparent;
    font-size: 16px;
    transition: 0.3s;
}

.cardio-page .main-container .content-container .buttons button:hover {
    background-color: var(--button-bg-hover, #3498db); 
}

.cardio-page .main-container #goals {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.cardio-page .main-container #goals #goal-title {
    /* background-color: red; */
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 25px;
    height: 6%;
}

.cardio-page .main-container #goals hr {
    display: flex;
    border: 1px solid lightgray;
    width: 90%;
    margin-left: 10%;
}

.cardio-page .main-container #goals #goal-container {
    /* background-color: lightgray; */
    position: relative;
    width: 100%;
    height: 80%;
    text-align: center;
    overflow: auto;
}

.cardio-page .main-container #goals #goal-container input[type="checkbox"] {
    width: 15px; /* Size of the checkbox */
    height: 15px;
}

.cardio-page .main-container #goals #goal-btn {
    position: relative;
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: space-evenly;
}

.cardio-page .main-container #goals #goal-btn button {
    cursor: pointer;
    width: 25%;
    padding: 2%;
    border-radius: 20px;
    background-color: transparent;
    font-size: 16px;
}